
@font-face {
    font-family: 'Poppins';
    src: url('/app/font/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Poppins';
    src: url('/app/font/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: bold;

}




@font-face {
    font-family: 'Poppins';
    src: url('/app/font/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: medium;

}
