.container {
    position: relative;
    height: 100vh;
}
.box-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px purple solid;
}

@media (max-height: 267px) or (max-width: 189px) { 
    .box-img {
        top: 0;
        left: 0;
        transform: none;
    }
}