/* ==========================================================================
   SPECIFICATION
   ========================================================================== */
@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #252728;
    overflow-wrap: break-word;
    background-color: #fff;
}

a {
    text-decoration: none;
}
a[href] {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 0;
    font-family: inherit;
    color: #252728;
    background-color: #fff;
    border-radius: 0;
}
input:hover, input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
    outline: none;
}

/* Remove shadow from fields for WebKit browsers */
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

select {
    cursor: pointer;
}

textarea {
    resize: none;
}

button {
    color: #0a6629;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    cursor: pointer;
}

/* Shake custom
   ========================================================================== */
@-webkit-keyframes shake-custom {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }
    10% {
        -webkit-transform: rotateZ(-30deg);
                transform: rotateZ(-30deg);
    }
    20% {
        -webkit-transform: rotateZ(15deg);
                transform: rotateZ(15deg);
    }
    30% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    40% {
        -webkit-transform: rotateZ(7.5deg);
                transform: rotateZ(7.5deg);
    }
    50% {
        -webkit-transform: rotate(-6deg);
                transform: rotate(-6deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    70% {
        -webkit-transform: rotate(-4.28571deg);
                transform: rotate(-4.28571deg);
    }
    80% {
        -webkit-transform: rotate(3.75deg);
                transform: rotate(3.75deg);
    }
    90% {
        -webkit-transform: rotate(-3.33333deg);
                transform: rotate(-3.33333deg);
    }
    100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}
@keyframes shake-custom {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }
    10% {
        -webkit-transform: rotateZ(-30deg);
                transform: rotateZ(-30deg);
    }
    20% {
        -webkit-transform: rotateZ(15deg);
                transform: rotateZ(15deg);
    }
    30% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    40% {
        -webkit-transform: rotateZ(7.5deg);
                transform: rotateZ(7.5deg);
    }
    50% {
        -webkit-transform: rotate(-6deg);
                transform: rotate(-6deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    70% {
        -webkit-transform: rotate(-4.28571deg);
                transform: rotate(-4.28571deg);
    }
    80% {
        -webkit-transform: rotate(3.75deg);
                transform: rotate(3.75deg);
    }
    90% {
        -webkit-transform: rotate(-3.33333deg);
                transform: rotate(-3.33333deg);
    }
    100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}
/* ==========================================================================
   HOME PAGE
   ========================================================================== */
.container {
    width: 1200px;
    margin: 0 auto;
}

* {
    font-family: "Rubik";
}

.header {
    background-color: #000;
    height: 80px;
    z-index: 5;
}

.header-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
}
.header-line a {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px;
}
.header-line .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
}
.header-line .header-nav ul li {
    list-style-type: none;
}

.first-src {
    background: url(../img/base/bg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    font-family: "Rubik", sans-serif;
}

.first-src__box {
    position: relative;
}

.first-src__title, .ps-title {
    font-family: "Rubik-Bold";
    font-weight: 700;
}

.first-src__title h1 {
    font-size: 7.7rem;
    line-height: 152px;
    margin-bottom: 30px;
    margin-top: 10rem;
    position: relative;
    z-index: 10;
    font-family: "Rubik-Bold";
    font-weight: 700;
    color: #fff;
}

.first-src__subtitle {
    font-size: 1.5rem;
    line-height: 28px;
}

.ps-title {
    font-size: 36px;
    line-height: 43px;
}

.ps-text {
    font-size: 18px;
    line-height: 21px;
}

.first-src__img {
    position: absolute;
    top: -5%;
    right: 0;
    z-index: 5;
}
.first-src__img img {
    max-width: 100%;
}

.first-src__ps {
    margin-top: 7.5rem;
}

.promo {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.promo-title {
    margin-top: 6rem;
    font-size: 2.25rem;
    font-family: "Rubik-Bold";
    font-weight: bold;
}
.promo-title span {
    font-family: "Rubik-Bold";
    font-weight: bold;
    color: #FCB500;
}

.promo-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}
.promo-price .promo-price__old {
    font-size: 2.25rem;
    color: #ADADAD;
    text-decoration: line-through;
}
.promo-price .promo-price__new {
    font-size: 3rem;
}

.promo-advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3.75rem;
}

.promo-advantage__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.promo-advantage__item:nth-child(odd) {
    font-size: 1.125rem;
    line-height: 1.3rem;
}
.promo-advantage__item:nth-child(odd) span {
    color: #FCB500;
}
.promo-advantage__item:nth-child(odd) .promo-advantage__text {
    margin-top: 4.8rem;
}

.promo-advantage__item:nth-child(2) {
    font-size: 2.25rem;
    line-height: 2.6rem;
}
.promo-advantage__item:nth-child(2) span {
    color: #FCB500;
    font-size: 1.5rem;
    line-height: 1.3rem;
}
.promo-advantage__item:nth-child(2) .promo-advantage__text {
    margin-top: 2.8rem;
}

.promo-advantage__img img {
    max-height: 160px;
}

.promo-btn__wrapper {
    text-align: center;
}

.promo_btn {
    background-color: #FCB500;
    font-size: 1.125rem;
    line-height: 1.3rem;
    border: none;
    color: #000;
    padding: 1rem 3rem;
    border-radius: 7px;
    margin-top: 4rem;
    margin-bottom: 7rem;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1000px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
    .header {
        height: 80px;
    }

    .header-line a {
        font-size: 0.9rem;
        line-height: 0.5rem;
    }
    .header-line img {
        max-width: 70%;
    }

    .first-src__title h1 {
        font-size: 6rem;
        line-height: 5rem;
        margin-bottom: 1rem;
        margin-top: 5rem;
    }

    .first-src__subtitle {
        font-size: 1.2rem;
        line-height: 1.15rem;
    }

    .first-src__ps {
        margin-top: 3rem;
    }

    .ps-title {
        font-size: 1.5rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }

    .ps-text {
        font-size: 1.125rem;
        line-height: 1rem;
    }

    .first-src__img {
        max-width: 35%;
    }

    .promo-title {
        margin-top: 3rem;
    }

    .promo-price {
        margin-top: 3rem;
    }
    .promo-price .promo-price__old {
        font-size: 2rem;
    }
    .promo-price .promo-price__new {
        font-size: 2.8rem;
    }

    .promo-advantage {
        margin-top: 3.5rem;
    }

    .promo-advantage__item:nth-child(odd) .promo-advantage__text {
        margin-top: 4.5rem;
    }

    .promo-advantage__item:nth-child(2) {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .promo-advantage__img img {
        max-height: 120px;
    }

    .promo-btn__wrapper {
        text-align: center;
    }

    .promo_btn {
        background-color: #FCB500;
        font-size: 1.125rem;
        line-height: 1.3rem;
        border: none;
        color: #000;
        padding: 1rem 3rem;
        border-radius: 7px;
        margin-top: 2rem;
        margin-bottom: 3.5rem;
    }
}
